<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%-include('inc')%>
</head>
<body>
<%-include('navB')%>
<div style="height:500px; width:100%;">
    <img src="/images/MainPoster/notF.jpg" alt="">
</div>
<p style="font-size:80px; font-family: Oswald; color:silver;" class="text-center">Page Not Found!!</p>
</body>
</html>